# Ignore a specific file
secret_key.txt

# Ignore an entire folder (add a trailing slash)
node_modules/
dist/

# Ignore all files ending with a specific extension
*.log
*.tmp

# Ignore all .env files anywhere in the project
**/.env

# Exception: Ignore all .log files, BUT keep important.log
!important.log

# docker

docker-compose.yml

# package-lock.json

package-lock.json